body{
    background-color: linear-gradient(to right, #949494, black) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
	
}


h1{
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
}

.card {
    width: 50%;
    background: white;
    box-shadow:  0 0 15px;
    border-radius: 10px;
	height: 50%;
}

.card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px 10px;
}

.card-body p {
    color: black;
    font-weight: bolder;
	padding: 10px;
}

.card-body h2 {
    color: #fff;
    font-weight: bolder;
}

.card-body button {
    outline: none;
    padding: 10px 15px;
    font-weight: bolder;
}

#more {
    display: none;
}

