*{
	margin: 0;
	padding: 0;
	font-family: none;
	background: none;
	box-sizing: none;
}

.infoitem {
    width:100%;
    height: 100px;
	display: flex;

}

.orange {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 12px;
	cursor: pointer;
}

.orange ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.orange ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.orange ul li::after{
	content: "";
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0%;
	bottom: -10px;
	transition: 0.5s;

}

.orange ul li:hover:after{
	width: 100%;

}

.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: black;
}

div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }

	

  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }


    #div1{
        background-color: white;
        width: 15.33%;
        float: left;
 
    }
    #div2{
        background-color: #005477; 
        width: 45.33%;
        float: right;
		height: 142px;
		margin: 0 auto;
		padding: 25px;
		text-align: center;
    }
    
    #div3{   
        background-color: #005477; 
        width: 69.33%;
        margin: 0 auto;
		padding: 25px;
		height: 142px;
		color: white;
		text-align: left;
    }

	#ktm{
		background-color: #005477;
		height: 15px;
	}
	#tp{
		background-color: white;
		height: 5px;
	}

	